Soap_Client/src/main/java/proxy/ProductWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService.soapserver.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService.soapserver.example.com/" name="ProductWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webService.soapserver.example.com/" schemaLocation="http://localhost:8084/ProductWS?xsd=1"/>
</xsd:schema>
</types>
<message name="removeProduct">
<part name="parameters" element="tns:removeProduct"/>
</message>
<message name="removeProductResponse">
<part name="parameters" element="tns:removeProductResponse"/>
</message>
<message name="createNewProduct">
<part name="parameters" element="tns:createNewProduct"/>
</message>
<message name="createNewProductResponse">
<part name="parameters" element="tns:createNewProductResponse"/>
</message>
<message name="modifyProduct">
<part name="parameters" element="tns:modifyProduct"/>
</message>
<message name="modifyProductResponse">
<part name="parameters" element="tns:modifyProductResponse"/>
</message>
<message name="fetchProduct">
<part name="parameters" element="tns:fetchProduct"/>
</message>
<message name="fetchProductResponse">
<part name="parameters" element="tns:fetchProductResponse"/>
</message>
<message name="calculateSellingPrice">
<part name="parameters" element="tns:calculateSellingPrice"/>
</message>
<message name="calculateSellingPriceResponse">
<part name="parameters" element="tns:calculateSellingPriceResponse"/>
</message>
<message name="retrieveAllProducts">
<part name="parameters" element="tns:retrieveAllProducts"/>
</message>
<message name="retrieveAllProductsResponse">
<part name="parameters" element="tns:retrieveAllProductsResponse"/>
</message>
<portType name="ProductWebService">
<operation name="removeProduct">
<input wsam:Action="http://webService.soapserver.example.com/ProductWebService/removeProductRequest" message="tns:removeProduct"/>
<output wsam:Action="http://webService.soapserver.example.com/ProductWebService/removeProductResponse" message="tns:removeProductResponse"/>
</operation>
<operation name="createNewProduct">
<input wsam:Action="http://webService.soapserver.example.com/ProductWebService/createNewProductRequest" message="tns:createNewProduct"/>
<output wsam:Action="http://webService.soapserver.example.com/ProductWebService/createNewProductResponse" message="tns:createNewProductResponse"/>
</operation>
<operation name="modifyProduct">
<input wsam:Action="http://webService.soapserver.example.com/ProductWebService/modifyProductRequest" message="tns:modifyProduct"/>
<output wsam:Action="http://webService.soapserver.example.com/ProductWebService/modifyProductResponse" message="tns:modifyProductResponse"/>
</operation>
<operation name="fetchProduct">
<input wsam:Action="http://webService.soapserver.example.com/ProductWebService/fetchProductRequest" message="tns:fetchProduct"/>
<output wsam:Action="http://webService.soapserver.example.com/ProductWebService/fetchProductResponse" message="tns:fetchProductResponse"/>
</operation>
<operation name="calculateSellingPrice">
<input wsam:Action="http://webService.soapserver.example.com/ProductWebService/calculateSellingPriceRequest" message="tns:calculateSellingPrice"/>
<output wsam:Action="http://webService.soapserver.example.com/ProductWebService/calculateSellingPriceResponse" message="tns:calculateSellingPriceResponse"/>
</operation>
<operation name="retrieveAllProducts">
<input wsam:Action="http://webService.soapserver.example.com/ProductWebService/retrieveAllProductsRequest" message="tns:retrieveAllProducts"/>
<output wsam:Action="http://webService.soapserver.example.com/ProductWebService/retrieveAllProductsResponse" message="tns:retrieveAllProductsResponse"/>
</operation>
</portType>
<binding name="ProductWebServicePortBinding" type="tns:ProductWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="removeProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modifyProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fetchProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateSellingPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductWS">
<port name="ProductWebServicePort" binding="tns:ProductWebServicePortBinding">
<soap:address location="http://localhost:8084/ProductWS"/>
</port>
</service>
</definitions>